
h1{
    font-size: 50px;
    font-family: 'Roboto Slab', serif;
}
h2{
    font-family: 'Roboto Slab', serif; 
}
.flex-container{
    display: flex;
}
.first-section img{
    height: 400px;
    width: 400px;
}
.half-width{
    
    width: 40%;
    margin: 0% 5% 0% 5%;
    padding: 5%;
}
.side-border{
    border-left: 5px solid;
    border-image: linear-gradient(rgb(0, 0, 180), rgb(35, 241, 241));
    border-image-slice: 1;
    padding-left: 10px;
}

.blue-colored-text{
    color: rgb(14, 14, 160);
}
.anchor-button{
    text-decoration: none;
    font-weight: 700;
    background: linear-gradient(45deg, rgb(94, 116, 241), rgb(41, 37, 243));
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    
}
.peragraph{
    font-size:18px ;
    text-align: justify;
}

.second-section{
    margin:10px 15% ;
}
.second-section-heading{
    text-align: center;
}

.second-section img{
    height: 180px;
    width: 180px;
}
.three-cards{
    width: 45%;
    margin: 10% 2% 5% 2% ;
    padding-left: 25px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px gray;
}

#mission{
    background-color: rgba(218, 112, 214, 0.342);
}
#vision{
    background-color: rgba(205, 134, 63, 0.425);
}
#goals{
    background-color: rgba(240, 230, 140, 0.39);
}